@section Styles {
    <title>آی وب - خدمات آی وب</title>

    <meta name="description" content="بازاریابی دیجیتال، طراحی و توسعه وب، مشاوره سئو، امن سازی وبسایت و... همه ی اینها تنها گوشه ای از خدمات تیم توسعه و برنامه نویسی آی وب بود. تیم ما متشکل از افراد ماهر و باتجربه آماده یاری شما در امور مدیریت کسب و کار شماست." />

    <meta name=googlebot content=index,follow>

    <meta property="og:title" content="آی وب - خدمات آی وب" />
    <meta property="og:image" content="/img/fav.png" />
    <meta property="og:description" content="خدمات آی وب" />
    <meta property="og:url" content="https://ayweb.work/Service" />
}

<!-- Start Page Title Area -->
<div class="page-title-area page-title-bg2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>خدمات آی وب</h2>

                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                        <li>خدمات</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <partial name="_Shapes"/>
</div>
<!-- End Page Title Area -->
<!-- Start Overview Area -->
<section class="overview-area pb-100">
    <div class="container">
        <div class="overview-box it-overview">
            <div class="overview-content">
                <div class="content">
                    <h2>بازاریابی دیجیتال</h2>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>

                    <ul class="features-list">
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بازاریابی سئو                                
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                ایمیل بازاریابی
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بازاریابی فیسبوکی
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                تحلیل داده ها
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بازاریابی اجتماعی
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بازاریابی یوتیوبی
                            </span>
                        </li>
                    </ul>

                    <div class="rm-btn">
                        <a href="services2.html" class="default-btn">
                            ادامه خواندن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src=" /img/services/it-service1.png" alt="image">
                </div>
            </div>
        </div>

        <div class="overview-box it-overview">
            <div class="overview-image">
                <div class="image">
                    <img src=" /img/services/it-service2.png" alt="image">
                </div>
            </div>

            <div class="overview-content">
                <div class="content right-content">
                    <h2>طراحی وب و توسعه</h2>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>

                    <ul class="features-list">
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                طراحی واکنشگرا
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                طراحی رابط کاربری
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                توسعه دهنده موبایل
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                توسعه دهنده لاراول
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                توسعه دهنده ری اکت
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                توسعه دهنده آنگولار
                            </span>
                        </li>
                    </ul>

                    <div class="rm-btn">
                        <a href="services2.html" class="default-btn">
                            ادامه خواندن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="overview-box it-overview">
            <div class="overview-content">
                <div class="content">
                    <h2>سرویس ذخیره سازی ابری</h2>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>

                    <ul class="features-list">
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                دیتابیس ابری
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                ابر ترکیبی
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                ایمیل سرور
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                هاستینگ وبسایت
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                ذخیره سازی فایل
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بک آپ سیستم
                            </span>
                        </li>
                    </ul>

                    <div class="rm-btn">
                        <a href="services2.html" class="default-btn">
                            ادامه خواندن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src=" /img/services/it-service3.png" alt="image">
                </div>
            </div>
        </div>

        <div class="overview-box">
            <div class="overview-image">
                <div class="image">
                    <img src=" /img/services/it-service4.png" alt="image">
                </div>
            </div>

            <div class="overview-content">
                <div class="content right-content">
                    <h2>مشاوره سئو</h2>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>

                    <div class="features-text">
                        <h4><i class="flaticon-tick"></i> محتوای بازاریابی</h4>
                        <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است.</p>
                    </div>

                    <div class="features-text">
                        <h4><i class="flaticon-tick"></i> بهینه سازی سئو</h4>
                        <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است.</p>
                    </div>

                    <div class="features-text">
                        <h4><i class="flaticon-tick"></i> بازاریابی دیجیتال</h4>
                        <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Overview Area -->