<!DOCTYPE html>
<html>    
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=googlebot content=noindex,nofollow>
    <title>پنل مدیریت آی وب</title>
    <link href="/AdminContent/css/bootstrap-rtl.css" rel="stylesheet">
    <link href="/AdminContent/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/AdminContent/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/AdminContent/css/plugins/timeline/timeline.css" rel="stylesheet">
    <link href="~/css/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="/AdminContent/css/sb-admin.css" rel="stylesheet">
    <link href="/AdminContent/css/Custom-sb-admin.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin">پنل مدیریت آی وب </a>
            </div>
            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/Admin"><i class="fa fa-dashboard fa-fw"></i> پنل ادمین</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-file fa-fw"></i> فروشگاه من<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">                             
                                <li>
                                    <a href="/admin/shop/showmyshop">مشاهده اطلاعات</a>
                                </li>
                                <li>
                                    <a href="/Admin/shop/Edit">ویرایش فروشگاه</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> مدیریت سطوح دسترسی<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/Role/Index">لیست نقش ها</a>
                                </li>
                                <li>
                                    <a href="/Admin/Role/Create">ثبت نقش جدید</a>
                                </li>                                
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> مدیریت کاربران<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/User/Create">ثبت کاربر جدید</a>
                                </li>
                                <li>
                                    <a href="/admin/user">لیست کاربران</a>
                                </li>  
                                <li>
                                    <a href="/admin/CustomerType">لیست انواع مشتریان</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> مدیریت محصولات<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/Product/Create">ثبت محصول جدید</a>
                                </li>
                                <li>
                                    <a href="/admin/Product">لیست محصولات</a>
                                </li>                                
                                <li>
                                    <a href="/admin/Group/Create">ایجاد دسته بندی جدید</a>
                                </li>
                                <li>
                                    <a href="/admin/Group">لیست دسته بندی ها  </a>
                                </li>
                                <li>
                                    <a href="/admin/Car/Create">ایجاد خودرو جدید  </a>
                                </li>
                                <li>
                                    <a href="/admin/Car/Index">لیست خودرو ها  </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-money fa-fw"></i> مدیریت تخفیف ها<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/discount/Create">ثبت تخفیف جدید</a>
                                </li>
                                <li>
                                    <a href="/Admin/discount">لیست تخفیف ها</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa bi-basket fa-fw"></i> مدیریت سفارشات<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/order/payedorder">سفارش های نهایی شده</a>
                                <li>

                                <li>
                                    <a href="/Admin/order">لیست سفارشات</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa bi-credit-card-fill"></i> فاکتور ها<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/transaction/TodayTransactions">تراکنش های امروز</a>
                                <li>

                                <li>
                                    <a href="/Admin/transaction">لیست فاکتورها</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>


                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <script src="/AdminContent/js/jquery-1.10.2.js"></script>
    <script src="/AdminContent/js/bootstrap.min.js"></script>
    <script src="/AdminContent/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/AdminContent/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/AdminContent/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/AdminContent/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/AdminContent/js/demo/dashboard-demo.js"></script>
    @RenderSection("Scripts",false)
</body>

</html>
