@model AYweb.Dal.Entities.Products.Comment

<div class="review-item">
    <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
    </div>
    <h3>@Model.Title</h3>
    <span><strong>@Model.User_name</strong> در <strong>11 مهر 1398</strong></span>
    <p>@Model.Text</p>

    <a href="#" class="review-report-link">گزارش کاربر</a>
</div>