@page "/AdminPanel"
@using AYweb.Web.Pages.AdminPanel;
@model AYweb.Web.Pages.AdminPanel.DashboardModel

<div class="row">
    <div class="col-lg-8">                
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> آخرین پرداختی ها
                <div class="pull-left">                    
                </div>
            </div>            
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>شماره فاکتور</th>
                                        <th>تاریخ</th>
                                        <th>مبلغ</th>
                                        <th>توضیحات</th>
                                    </tr>
                                </thead>
                                <tbody>                                                                        
                                 @*  @foreach (var transaction in Model.Transactions)
                                    {
                                        <tr>
                                            <td>@transaction.TransactionId</td>
                                            <td>@transaction.PayDate.ToShamsi()</td>
                                            <td>@transaction.Amount</td>
                                            <td>@transaction.Description</td>
                                        </tr>
                                    }*@
                                </tbody>
                            </table>
                        </div>                        
                    </div>                    
                    <div class="col-lg-8">
                        <div id="morris-bar-chart"></div>
                    </div>                    
                </div>                
            </div>            
        </div>
                        
    </div>
   
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> پنل اعلانات
            </div>
           
            <div class="panel-body">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <i class="fa fa-comment fa-fw"></i> کامنت های جدید
                        <span class="pull-left text-muted small">
                            <em>4 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-twitter fa-fw"></i> تعداد کاربران
                        <span class="pull-left text-muted small">
                            <em>12 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> پرداختی های امروز
                        <span class="pull-left text-muted small">
                            <em>Yesterday</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-left text-muted small">
                            <em>43 minutes ago</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-left text-muted small">
                            <em>11:32 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-bolt fa-fw"></i> Server Crashed!
                        <span class="pull-left text-muted small">
                            <em>11:13 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-warning fa-fw"></i> Server Not Responding
                        <span class="pull-left text-muted small">
                            <em>10:57 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-shopping-cart fa-fw"></i> New Order Placed
                        <span class="pull-left text-muted small">
                            <em>9:49 AM</em>
                        </span>
                    </a>
                    <a href="#" class="list-group-item">
                        <i class="fa fa-money fa-fw"></i> Payment Received
                        <span class="pull-left text-muted small">
                            <em>Yesterday</em>
                        </span>
                    </a>
                </div>                                
            </div>            
        </div>                 
    </div>    
</div>
