@using AYweb.Application.Models.User.Commands.Login
@model LoginCommand

@section Styles {
    <title>آی وب - ورود</title>
    
    <meta name=googlebot content=noindex,nofollow>

    <meta property="og:title" content="آی وب - ورود" />
    <meta property="og:image" content="/img/fav.png" />    
    <meta property="og:url" content="https://ayweb.work/login" />
}

<!-- Start Page Title Area -->
<div class="page-title-area page-title-bg2">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>ورود</h2>

                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">آی وب</a></li>
                        <li>ورود</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <partial name="_Shapes" />
</div>
<!-- End Page Title Area -->
<!-- Login Area -->
<div class="container">
    <div class="form-content">
        <div class="form-header">
            <h3>ورود</h3>
            <p>اگر حساب کاربری دارید ، وارد شوید</p>
        </div>
        <form asp-controller="Account" asp-action="Login" method="post" asp-antiforgery="true">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label>شماره موبایل</label>
                <input type="text" asp-for="PhoneNumber" class="form-control" id="your-email" placeholder="شماره موبایل شما">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                @if (ViewBag.NotVerficationPhoneNotification != null && ViewBag.NotVerficationPhoneNotification == true)
                {
                    <a class="text-primary" asp-controller="Account" asp-action="SendValidationSms" asp-route-phoneNumber="@Model.PhoneNumber">تایید شماره موبایل</a>
                }

            </div>
            <div class="form-group">
                <label>رمز عبور</label>
                <input type="password" asp-for="Password" class="form-control" id="your-password" placeholder="رمز عبور">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" asp-for="RemmemberMe" for="exampleCheck1">مرا بخاطر بسپار</label>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <a class="form-link right" href="#">فراموشی رمز عبور؟</a>
                </div>
            </div>

            <button type="submit" class="default-btn">ورود</button>
        </form>

        <div class="form-footer">
            <p>حساب کاربری ندارید؟ <a class="form-link" asp-controller="Account" asp-action="Register">ثبت نام</a></p>
        </div>
    </div>
</div>

<!-- End Login Area -->
@section Scripts {
    @if (ViewBag.NotVerficationPhoneNotification != null && (bool)ViewBag.NotVerficationPhoneNotification == true)
    {
        <script>
            $.notify("شماره موبایل خود را تایید کنید!", "error");
        </script>
    }

    @if (ViewBag.NotFoundUser != null && (bool)ViewBag.NotFoundUser == true)
    {
        <script>
            $.notify("شماره موبایل یا رمز عبور اشتباه است!", "error");
        </script>
    }

    @if (ViewBag.WrongInfo != null && (bool)ViewBag.WrongInfo == true)
    {
        <script>
            $.notify("اطلاعات را به درستی پر کنید!!", "error");
        </script>
    }
}