<!doctype html>

<html lang="fa">

<head>
    <!-- Required meta tags -->
    <partial name="_MetaTags" />
    @RenderSection("Styles", false)
    <partial name="_Styles" />
    <title>AY WEB - دنیای وب و برنامه نویسی</title>
    <link rel="icon" type="image/png" href="/img/fav.png">
</head>
<body>
    <partial name="_PreLoad" />

    <partial name="_Navbar" />

    <partial name="_SideBarModal" />

    @RenderBody()

    <partial name="_Footer" />
    <partial name="_Script" />
    @RenderSection("Scripts", false)
</body>

</html>