@using AYweb.Application.Models.Product.Queries.Common
@model List<CommentResult>

<div class="product-review-form">
    <h3>بازخورد مشتری</h3>

    <div class="review-title">
        <div class="rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
        </div>
        <p>بر اساس 3 مشاهده</p>

        <a href="#comment" class="default-btn">یک نظر بنویسید<span></span></a>
    </div>

    <div class="review-comments">
        @foreach (var comment in Model)
        {
            <partial name="_CommentView" model="@comment"/>
        }
    </div>

    <div class="review-form">
        <h3>نظر بدهید</h3>

        <Partial name="_CommentForm" model="null"/>
    </div>
</div>