.form-control[type="file"] {
    overflow: hidden;
    padding-top:10px
}

.form-control:disabled, .form-control:read-only {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #757575;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

input[type="file" i] {
    text-overflow: ellipsis;
    text-align: start !important;
    white-space: pre;
}


.notifyjs-corner {
   top:70px !important;
   padding:15px !important;   
   font-size:17px !important;
   height:auto !important;
}

    .notifyjs-corner span{
        padding:25px 10px !important;
        height:auto !important;
    }

    .notifyjs-bootstrap-error {
    }