@page
@using AYweb.Core.Services.Interfaces
@using AYweb.Dal.Entities.News
@using Polly
@*@inject IPermissionService _PermissionService;*@
@*//TODO Don't Forgot Set User Id In Hidden Input*@
@model AYweb.Web.Pages.AdminPanel.Blog.CreateModel
@{
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">افزودن خبر جدید</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" value="4" asp-for="News.UserId"/>
        <div class="col-md-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    اطلاعات خبر
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <label>عنوان خبر </label>
                        <input type="text" asp-for="News.Title" class="form-control">
                    </div>
                    <div class="form-group ">
                        <label>انتخاب دسته بندی برای خبر </label>
                        <br/>
                        <div class="form-control">
                            @foreach (var group in ViewData["newsGroups"] as List<NewsGroup> ?? new List<NewsGroup>())
                            {
                                <label>@group.Title</label>
                                <input type="checkbox" value="@group.Id" name="groups"/>
                            }

                        </div>
                    </div>
                    <div class="form-group">
                        <label>خلاصه خبر</label>
                        <textarea class="form-control" rows="5" asp-for="News.Summary"></textarea>
                    </div>
                    <div class="form-group">
                        <label>مقدمه خبر</label>
                        <br/>
                        <textarea class="form-control" rows="5" asp-for="News.Introduction"></textarea>
                    </div>
                    <div class="form-group">
                        <label>متن خبر</label>
                        <br/>
                        <textarea class="form-control" rows="5" asp-for="News.Text"></textarea>
                    </div>
                    <div class="form-group">
                        <label>تگ ها</label>
                        <input type="text" asp-for="News.Tags" class="form-control">
                    </div>
                    <input type="submit" value="ثبت محصول" class="btn btn-success col-md-12"/>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    تصاویر خبر
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <img id="imgAvatar" class=" img-thumbnail" src="~/img/machine-learning/ml-service1.png" />
                    <div class="form-group">
                        <label>تصویر اصلی</label>
                        <input class="form-control-file" name="blogPicture" id="productBlogUp" type="file"/>
                    </div>
                    <div class="form-group">
                        <label>تصاویر خبر</label>
                        <input class="form-control-file" name="pictures" id="productPictureUp" type="file"/>
                        <input class="form-control-file" name="pictures" id="productPictureUp" type="file"/>
                        <input class="form-control-file" name="pictures" id="productPictureUp" type="file"/>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
    </form>
</div>


@section Scripts
    {
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#productBlogUp").change(function () {
            readURL(this);
        });
    </script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('News_Text', {
            customConfig: '/js/Config.js'
        });

        CKEDITOR.replace('News_Introduction', {
            customConfig: '/js/Config.js'
        });

    </script>
    }
