@using AYweb.Application.Models.Project.Queries.Common
@model List<ProjectResult>

<!-- Start Projects Area -->
<section class="projects-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">گالری پروژه</span>
            <h2>پروژه های ما را ببینید</h2>
        </div>
    </div>

    <div class="container">
        <div class="projects-slides owl-carousel owl-theme">

            @foreach (var project in Model)
            {
                <div class="single-projects-box">
                    <img src="img/projects-image/@project.FirstImage" alt="image">

                    <div class="projects-content">
                        <h3><a asp-controller="Project" asp-action="ProjectDetails" asp-route-id="@project.Id">@project.Title</a></h3>
                        <span class="category">@project.RelatedService</span>
                    </div>

                    <div class="plus-icon">
                        <a href="img/projects-image/@project.SecondImage" class="popup-btn">
                            <span></span>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="more-work text-center">
            <a asp-controller="Project" asp-action="Index" class="default-btn">
                مشاهده پروژه ها <span></span>
            </a>
        </div>
    </div>

</section>
<!-- End Projects Area -->