<div class="pagination-area">
    <a href="#" class="prev page-numbers"><i class="fas fa-angle-double-right"></i></a>
    <a href="#" class="page-numbers">1</a>
    <span class="page-numbers current" aria-current="page">2</span>
    <a href="#" class="page-numbers">3</a>
    <a href="#" class="next page-numbers"><i class="fas fa-angle-double-left"></i></a>
</div>