<aside class="widget-area" id="secondary">
    <section class="widget widget_search">
        <form class="search-form">
            <label>
                <span class="screen-reader-text">جستجو کنید:</span>
                <input type="search" class="search-field" placeholder="جستجو کنید ...">
            </label>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </section>

    <section class="widget widget_aronix_posts_thumb">
        <h3 class="widget-title">پست های محبوب</h3>

        <article class="item">
            <a href="#" class="thumb">
                <span class="fullimage cover bg1" role="img"></span>
            </a>
            <div class="info">
                <time datetime="2019-06-30">09 تیر 1398</time>
                <h4 class="title usmall"><a href="#">لورم ایپسوم متن ساختگی است.</a></h4>
            </div>

            <div class="clear"></div>
        </article>

        <article class="item">
            <a href="#" class="thumb">
                <span class="fullimage cover bg2" role="img"></span>
            </a>
            <div class="info">
                <time datetime="2019-06-30">09 تیر 1398</time>
                <h4 class="title usmall"><a href="#">لورم ایپسوم متن ساختگی است.</a></h4>
            </div>

            <div class="clear"></div>
        </article>

        <article class="item">
            <a href="#" class="thumb">
                <span class="fullimage cover bg3" role="img"></span>
            </a>
            <div class="info">
                <time datetime="2019-06-30">09 تیر 1398</time>
                <h4 class="title usmall"><a href="#">لورم ایپسوم متن ساختگی است.</a></h4>
            </div>

            <div class="clear"></div>
        </article>
    </section>

    <section class="widget widget_categories">
        <h3 class="widget-title">دسته بندی ها</h3>

        <ul>
            <li><a href="#">پروژه تجاری</a></li>
            <li><a href="#">سیاست ویژه</a></li>
            <li><a href="#">فن آوری اشتراکی</a></li>
            <li><a href="#">نکات</a></li>
            <li><a href="#">دسته‌بندی نشده</a></li>
        </ul>
    </section>

    <section class="widget widget_recent_comments">
        <h3 class="widget-title">آخرین نظرات</h3>

        <ul>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
        </ul>
    </section>

    <section class="widget widget_recent_entries">
        <h3 class="widget-title">پست های اخیر</h3>

        <ul>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
        </ul>
    </section>

    <section class="widget widget_archive">
        <h3 class="widget-title">بایگانی ها</h3>

        <ul>
            <li><a href="#">فروردین 1398</a></li>
            <li><a href="#">اردیبهشت 1398</a></li>
            <li><a href="#">خرداد 1398</a></li>
        </ul>
    </section>

    <section class="widget widget_meta">
        <h3 class="widget-title">متا</h3>

        <ul>
            <li><a href="#">ورود به سیستم</a></li>
            <li><a href="#">نظرات <abbr title="Really Simple Syndication">خوراک</abbr></a></li>
            <li><a href="#">نظرات <abbr title="Really Simple Syndication">خوراک</abbr></a></li>
            <li><a href="#">فراموشی رمزعبور؟</a></li>
        </ul>
    </section>

    <section class="widget widget_tag_cloud">
        <h3 class="widget-title">برچسب ها</h3>

        <div class="tagcloud">
            <a href="#">آن <span class="tag-link-count"> (3)</span></a>
            <a href="#">مجازی <span class="tag-link-count"> (3)</span></a>
            <a href="#">بازی ها <span class="tag-link-count"> (2)</span></a>
            <a href="#">برنامه ها <span class="tag-link-count"> (2)</span></a>
            <a href="#">مسافرت <span class="tag-link-count"> (1)</span></a>
            <a href="#">سرور <span class="tag-link-count"> (1)</span></a>
            <a href="#">هاست <span class="tag-link-count"> (1)</span></a>
            <a href="#">اشتراکی <span class="tag-link-count"> (2)</span></a>
        </div>
    </section>
</aside>