@using AYweb.Core.Services.Interfaces
@inject IBlogService _service;

<aside class="widget-area" id="secondary">
    <section class="widget widget_search">
        <form class="search-form" method="get"  asp-controller="Blog" asp-action="Index">
            <label>
                <span class="screen-reader-text">جستجو کنید:</span>
                <input type="search" value="@Context.Request.Query["search"].ToString()" name="search" class="search-field" placeholder="جستجو کنید ...">
            </label>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </section>

    <section class="widget widget_aronix_posts_thumb">
        <h3 class="widget-title">پست های محبوب</h3>

        <article class="item">
            <a href="#" class="thumb">
                <span class="fullimage cover bg1" role="img"></span>
            </a>
            <div class="info">
                <time datetime="2019-06-30">09 تیر 1398</time>
                <h4 class="title usmall"><a href="#">لورم ایپسوم متن ساختگی است.</a></h4>
            </div>

            <div class="clear"></div>
        </article>

        <article class="item">
            <a href="#" class="thumb">
                <span class="fullimage cover bg2" role="img"></span>
            </a>
            <div class="info">
                <time datetime="2019-06-30">09 تیر 1398</time>
                <h4 class="title usmall"><a href="#">لورم ایپسوم متن ساختگی است.</a></h4>
            </div>

            <div class="clear"></div>
        </article>

        <article class="item">
            <a href="#" class="thumb">
                <span class="fullimage cover bg3" role="img"></span>
            </a>
            <div class="info">
                <time datetime="2019-06-30">09 تیر 1398</time>
                <h4 class="title usmall"><a href="#">لورم ایپسوم متن ساختگی است.</a></h4>
            </div>

            <div class="clear"></div>
        </article>
    </section>

    <section class="widget widget_categories">
        <h3 class="widget-title">دسته بندی ها</h3>

        <ul>
            <li><a href="#">پروژه تجاری</a></li>
            <li><a href="#">سیاست ویژه</a></li>
            <li><a href="#">فن آوری اشتراکی</a></li>
            <li><a href="#">نکات</a></li>
            <li><a href="#">دسته‌بندی نشده</a></li>
        </ul>
    </section>

    <section class="widget widget_recent_comments">
        <h3 class="widget-title">آخرین نظرات</h3>

        <ul>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
            <li>
                <span class="comment-author-link">
                    <a href="#">نظر وردپرس</a>
                </span>
                در
                <a href="#">سلام جهان!</a>
            </li>
        </ul>
    </section>

    <section class="widget widget_recent_entries">
        <h3 class="widget-title">پست های اخیر</h3>

        <ul>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
            <li><a href="#">چگونه یک طراح حرفه ای شویم</a></li>
        </ul>
    </section>

    <section class="widget widget_tag_cloud">
        <h3 class="widget-title">برچسب ها</h3>

        <div class="tagcloud">
           @foreach (var tag in ViewData["tags"] as List<string> ?? new List<string>())
           {
                <a href="#">@tag <span class="tag-link-count"> (@_service.GetTagsNewsCount(tag))</span></a>
           }
        </div>
    </section>
</aside>