<section class="feedback-area feedback-area-two ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>برخی از بازخوردهای مشتریان ما</h2>
        </div>
    </div>

    <div class="feedback-slides owl-carousel owl-theme">
        <div class="single-feedback-item">
            <p>“یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.”</p>

            <div class="client-info">
                <img src="/img/client-image/1.jpg" alt="image">

                <h3>جيسون روي</h3>
                <span>مدیر شرکت</span>
            </div>
        </div>

        <div class="single-feedback-item">
            <p>“یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.”</p>

            <div class="client-info">
                <img src="/img/client-image/2.jpg" alt="image">

                <h3>جيمز اندرسون</h3>
                <span>طراح وب</span>
            </div>
        </div>

        <div class="single-feedback-item">
            <p>“یک واقعیت طولانی مدت این اسی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.”</p>

            <div class="client-info">
                <img src="/img/client-image/3.jpg" alt="image">

                <h3>سارا تایلور</h3>
                <span>طراح</span>
            </div>
        </div>

        <div class="single-feedback-item">
            <p>“یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.”</p>

            <div class="client-info">
                <img src="/img/client-image/4.jpg" alt="image">

                <h3>استیون اسمیت</h3>
                <span>مدیر اداره</span>
            </div>
        </div>

        <div class="single-feedback-item">
            <p>“یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.”</p>

            <div class="client-info">
                <img src="/img/client-image/5.jpg" alt="image">

                <h3>تام نیدهام</h3>
                <span>طراح وب</span>
            </div>
        </div>
    </div>
</section>