<section class="fun-facts-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-facts">
                    <h3><span style="direction: ltr;" class="odometer" data-count="3">00</span><span class="sign-icon">+</span></h3>
                    <p>تکمیل پروژه</p>
                    <div class="back-text">ت</div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-facts">
                    <h3><span style="direction: ltr;" class="odometer" data-count="100">00</span><span class="sign-icon">%</span></h3>
                    <p>رضایت مشتری</p>
                    <div class="back-text">ر</div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-facts">
                    <h3><span style="direction: ltr;" class="odometer" data-count="13">00</span></h3>
                    <p>معادل</p>
                    <div class="back-text">م</div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-fun-facts">
                    <h3><span style="direction: ltr;" class="odometer" data-count="2">00</span><span class="sign-icon">+</span></h3>
                    <p>اعضای تیم</p>
                    <div class="back-text">ا</div>
                </div>
            </div>
        </div>
    </div>
</section>