<div class="partner-area ptb-100 pb-0">
    <div class="container">
        <div class="section-title">
            <h2>مشتریان عزیز ما</h2>
        </div>

        <div class="partner-slides owl-carousel owl-theme">
            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/1.png" alt="image">
                    <img src="/img/partner-image/1.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/2.png" alt="image">
                    <img src="/img/partner-image/2.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/3.png" alt="image">
                    <img src="/img/partner-image/3.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/4.png" alt="image">
                    <img src="/img/partner-image/4.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/5.png" alt="image">
                    <img src="/img/partner-image/5.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/6.png" alt="image">
                    <img src="/img/partner-image/6.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/7.png" alt="image">
                    <img src="/img/partner-image/7.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/8.png" alt="image">
                    <img src="/img/partner-image/8.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/9.png" alt="image">
                    <img src="/img/partner-image/9.png" alt="image">
                </a>
            </div>

            <div class="single-partner-item">
                <a href="#">
                    <img src="/img/partner-image/10.png" alt="image">
                    <img src="/img/partner-image/10.png" alt="image">
                </a>
            </div>
        </div>
    </div>
</div>