<section class="pricing-area-two pt-100 pb-70 bg-f4f7fe">
    <div class="container">
        <div class="section-title">
            <h2>بهترین برنامه را انتخاب کنید</h2>
            <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing-table">
                    <div class="pricing-header">
                        <h3>پلن روزانه</h3>
                    </div>

                    <div class="price">
                        120 <sup>تومان</sup> <sub>/ روز</sub>
                    </div>

                    <ul class="pricing-features">
                        <li>
                            <i class='bx bx-badge-check'></i>
                            طراحی وب
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            فناوری اطلاعات
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            توسعه وب
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            بازاریابی ایمیل
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            توسعه دهنده موبایل
                        </li>
                        <li>
                            <i class='bx bxs-x-circle'></i>
                            پاسخگویی سریع
                        </li>
                        <li>
                            <i class='bx bxs-x-circle'></i>
                            24/7 پشتیبانی
                        </li>
                    </ul>

                    <div class="btn-box">
                        <a class="default-btn" href="#">
                            انتخاب پلن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing-table">
                    <div class="pricing-header">
                        <h3>پلن هفتگی</h3>
                    </div>

                    <div class="price">
                        180 <sup>تومان</sup> <sub>/ هفته</sub>
                    </div>

                    <ul class="pricing-features">
                        <li>
                            <i class='bx bx-badge-check'></i>
                            طراحی وب
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            فناوری اطلاعات
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            توسعه وب
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            بازاریابی ایمیل
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            توسعه دهنده موبایل
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            پاسخگویی سریع
                        </li>
                        <li>
                            <i class='bx bxs-x-circle'></i>
                            24/7 پشتیبانی
                        </li>
                    </ul>

                    <div class="btn-box">
                        <a class="default-btn" href="#">
                            انتخاب پلن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                <div class="single-pricing-table">
                    <div class="pricing-header">
                        <h3>پلن ماهانه</h3>
                    </div>

                    <div class="price">
                        360 <sup>تومان</sup> <sub>/ ماهانه</sub>
                    </div>

                    <ul class="pricing-features">
                        <li>
                            <i class='bx bx-badge-check'></i>
                            طراحی وب
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            فناوری اطلاعات
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            توسعه وب
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            بازاریابی ایمیل
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            توسعه دهنده موبایل
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            پاسخگویی سریع
                        </li>
                        <li>
                            <i class='bx bx-badge-check'></i>
                            24/7 پشتیبانی
                        </li>
                    </ul>

                    <div class="btn-box">
                        <a class="default-btn" href="#">
                            انتخاب پلن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shape Images -->
    <div class="shape-img2"><img src="/img/shape/2.svg" alt="image"></div>
    <div class="shape-img3"><img src="/img/shape/3.svg" alt="image"></div>
    <div class="shape-img4"><img src="/img/shape/4.png" alt="image"></div>
    <div class="shape-img5"><img src="/img/shape/5.png" alt="image"></div>
    <div class="shape-img6"><img src="/img/shape/6.png" alt="image"></div>
    <div class="shape-img9"><img src="/img/shape/9.png" alt="image"></div>
    <div class="shape-img10"><img src="/img/shape/10.png" alt="image"></div>
</section>