<section class="pt-100 pb-70 gray-bg">
    <div class="container">
        <div class="section-title">
            <h2>خدمات ما</h2>
            <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-white center">
                    <div class="icon">
                        <i class="bx bx-conversation"></i>
                        <i class='bx bxs-badge-check check-icon'></i>
                    </div>
                    <h3>
                        <a href="single-services.html">مشاوره فناوری اطلاعات</a>
                    </h3>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-white center">
                    <div class="icon">
                        <i class="bx bx-laptop"></i>
                        <i class='bx bxs-badge-check check-icon'></i>
                    </div>
                    <h3>
                        <a href="single-services.html">توسعه وب</a>
                    </h3>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-white center">
                    <div class="icon">
                        <i class="bx bxs-megaphone"></i>
                        <i class='bx bxs-badge-check check-icon'></i>
                    </div>
                    <h3>
                        <a href="#">بازاریابی دیجیتال</a>
                    </h3>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-white center">
                    <div class="icon">
                        <i class='bx bx-mobile-alt'></i>
                        <i class='bx bxs-badge-check check-icon'></i>
                    </div>
                    <h3>
                        <a href="single-services.html">توسعه برنامه تلفن همراه</a>
                    </h3>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-white center">
                    <div class="icon">
                        <i class='bx bx-cart'></i>
                        <i class='bx bxs-badge-check check-icon'></i>
                    </div>
                    <h3>
                        <a href="single-services.html">توسعه تجارت الکترونیکی</a>
                    </h3>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-white center">
                    <div class="icon">
                        <i class='bx bx-list-check'></i>
                        <i class='bx bxs-badge-check check-icon'></i>
                    </div>
                    <h3>
                        <a href="single-services.html">راه حل فناوری</a>
                    </h3>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
                </div>
            </div>
        </div>
    </div>
</section>