@* @using AYweb.Core.DTOs
@using AYweb.Core.Services.Interfaces
@using AYweb.Dal.Entities.User
@using Polly
@model CounselingViewModel
@inject IPermissionService _permissionService
@{
    User user = new AYweb.Dal.Entities.User.User();
    if (Context.User.Identity.IsAuthenticated)
    {
        user = _permissionService.GetAuthonticatedUser(Context);
    }
}

<!-- Start Page Title Area -->
<div class="page-title-area page-title-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>درخواست مشاوره</h2>

                    <ul>
                        <li><a href="#">آی وب</a></li>
                        <li>درخواست مشاوره</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <partial name="_shapes" />
</div>
<!-- End Page Title Area -->
<!-- Start Contact Area -->
<section class="contact-area pb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">تماس با ما</span>
            <h2>فرم درخواست مشاوره</h2>
            <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-4 col-md-4">
                <div class="contact-image">
                    <img src="img/contact.png" alt="image">
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
                <div class="contact-form">
                    <form asp-controller="Home" asp-action="Counseling" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" asp-for="UserName" id="name" class="form-control" value="@((!string.IsNullOrEmpty(user.FirstName))?$"{user.FirstName} {user.LastName}":"")" required data-error="لطفا نام خود را وارد کنید" placeholder="نام شما">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="text" asp-for="PhoneNumber" id="phone_number" value="@((!string.IsNullOrEmpty(user.PhoneNumber))?$"{user.PhoneNumber}":"")" required data-error="لطفا شماره خود را وارد کنید" class="form-control" placeholder="تلفن شما">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" asp-for="Title" id="msg_subject" class="form-control" value="@Context.Request.Query["title"].ToString()" required data-error="لطفا موضوع خود را وارد کنید" placeholder="موضوع">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea asp-for="Message" class="form-control" id="message" cols="30" rows="5" required data-error="پیام خود را تایپ کنید" placeholder="پیام شما ..."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <input type="submit" class="default-btn" value="درخواست مشاوره" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row ptb-100">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="flaticon-email"></i>
                    </div>

                    <h3>پست الکترونیک</h3>
                    <br />
                    <p><a href="mailto:Support@ayweb.work">Support@ayweb.work</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="flaticon-phone-call"></i>
                    </div>

                    <h3>آدرس</h3>
                    <br />
                    <p><a href="https://goo.gl/maps/Mii9keyeqXeNH4347" target="_blank">ایران، استان یزد</a></p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="flaticon-marker"></i>
                    </div>

                    <h3>تماس بگیرید</h3>
                    <p><a href="tel:1234567890">09966308993</a></p>
                    <p><a href="tel:2414524526">09134181998</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->
@section Scripts {
    @if (ViewBag.Notification != null && (bool)ViewBag.Notification == true)
    {
        <script>
            $.notify("درخواست مشاوره ثبت شد", "success");
        </script>
    }
} *@