
    <partial name="_Banner" />

    @*<partial name="_Services"/>*@

   <partial name="_Overview"/>

    <partial name="_SolutionArea"/>

    @* @await Component.InvokeAsync("ProjectViewComponents"); *@

    <partial name="_FunFacts"/>

    @* <partial name="_FeedbackArea"/> *@

    @* @await Component.InvokeAsync("PlansViewComponents") *@

    @* <partial name="_TeamArea"/> *@
    
    <partial name="_LetsWorkArea"/>
   
    @* <partial name="_PartnerArea"/> *@

    @* @await Component.InvokeAsync("LastNewsViewComponents") *@

    <partial name="_SubscribeArea"/>
    

    <div class="go-top"><i class="fas fa-chevron-up"></i></div>