@section Styles {
    <title>آی وب - دنیای وب و برنامه نویسی</title>

    <meta name="description" content="با یک کلیک کسب و کار خودتو آنلاین کن. در اولین فرصت کارشناسان ما با تماس با شما نیاز ها و ضعف های کسب و کار شما را شناسایی و رفع خواهند کرد " />

    <meta name=googlebot content=index,follow>

    <meta property="og:title" content="آی وب - دنیای وب و برنامه نویسی" />
    <meta property="og:image" content="/img/fav.png" />
    <meta property="og:description" content="دنیای وب و برنامه نویسی. " />
    <meta property="og:url" content="https://ayweb.work" />
}

<partial name="_Banner" />

@*<partial name="_Services"/>*@

<partial name="_Overview" />

<partial name="_SolutionArea" />

@await Component.InvokeAsync("ProjectViewComponents");

<partial name="_FunFacts" />

@* <partial name="_FeedbackArea"/> *@

@await Component.InvokeAsync("PlansViewComponents")

@* <partial name="_TeamArea"/> *@

<partial name="_LetsWorkArea" />

@* <partial name="_PartnerArea"/> *@

@await Component.InvokeAsync("LastNewsViewComponents")

<partial name="_SubscribeArea" />


<div class="go-top"><i class="fas fa-chevron-up"></i></div>