        <!-- Start Error Area -->
<section class="error-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="error-content">
                    <img src="/img/403.png" alt="error">

                    <h3>You Don't Have Full Access</h3>                                        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Error Area -->
<!-- Sidebar Modal -->
<div class="sidebar-modal">
    <div class="sidebar-modal-inner">
        <div class="sidebar-about-area">
            <div class="title">
                <h2>درباره ما</h2>
                <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>
            </div>
        </div>

        <div class="sidebar-instagram-feed">
            <h2>اینستاگرام</h2>

            <ul>
                <li><a href="#"><img src="/img/blog-image/1.jpg" alt="image"></a></li>
                <li><a href="#"><img src="/img/blog-image/2.jpg" alt="image"></a></li>
                <li><a href="#"><img src="/img/blog-image/3.jpg" alt="image"></a></li>
                <li><a href="#"><img src="/img/blog-image/4.jpg" alt="image"></a></li>
                <li><a href="#"><img src="/img/blog-image/5.jpg" alt="image"></a></li>
                <li><a href="#"><img src="/img/blog-image/6.jpg" alt="image"></a></li>
                <li><a href="#"><img src="/img/blog-image/7.jpg" alt="image"></a></li>
                <li><a href="#"><img src="/img/blog-image/8.jpg" alt="image"></a></li>
            </ul>
        </div>

        <div class="sidebar-contact-area">
            <div class="contact-info">
                <div class="contact-info-content">
                    <h2>
                        <a href="tel:+0881306298615">+088 130 629 8615</a>
                        <span>یا</span>
                        <a href="mailto:aronix@site.com">aronix@site.com</a>
                    </h2>

                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <span class="close-btn sidebar-modal-close-btn"><i class="flaticon-close"></i></span>
    </div>
</div>
<!-- End Sidebar Modal -->