<div class="it-banner">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container mt-50">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1>حامی کسب و کارهای کوچک و نوپا</h1>
                            <p>ما با استارتاپ های کوچک نوپا همکاری میکنیم برای دستیابی آن ها به شرایطی ایده آل</p>

                            <div class="banner-btn">
                                <a href="contact.html" class="default-btn mr-3">
                                    شروع کار <span></span>
                                </a>

                                <a href="https://www.youtube.com/watch?v=bk7McNUjWgw" class="video-btn popup-youtube">
                                    <i class="flaticon-play-button"></i>
                                    مشاهده ویدیو
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="it-banner-image owl-carousel owl-theme">
                            <div class="animate-image">
                                <img src="/img/it-banner/animate-img.jpg" alt="image">
                            </div>
                            <div class="animate-image">
                                <img src="/img/it-banner/animate-img2.jpg" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Shape Images -->
    <div class="shape-img2"><img src="/img/shape/2.svg" alt="image"></div>
    <div class="shape-img3"><img src="/img/shape/3.svg" alt="image"></div>
    <div class="shape-img4"><img src="/img/shape/4.png" alt="image"></div>
    <div class="shape-img5"><img src="/img/shape/5.png" alt="image"></div>
    <div class="shape-img6"><img src="/img/shape/6.png" alt="image"></div>
    <div class="shape-img7"><img src="/img/shape/7.png" alt="image"></div>
    <div class="shape-img8"><img src="/img/shape/8.png" alt="image"></div>
    <div class="shape-img9"><img src="/img/shape/9.png" alt="image"></div>
    <div class="shape-img10"><img src="/img/shape/10.png" alt="image"></div>
    <div class="shape-img11"><img src="/img/shape/11.png" alt="image"></div>
    <div class="shape-img12"><img src="/img/shape/12.png" alt="image"></div>
</div>