<section class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>آخرین اخبار</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="single-blog.html"><img src="/img/blog-image/1.jpg" alt="image"></a>
                    </div>

                    <div class="post-content">
                        <div class="post-meta">
                            <ul>
                                <li>توسط: <a href="#">سارا تیلور</a></li>
                                <li>23 دی 1398</li>
                            </ul>
                        </div>

                        <h3><a href="#">آژانس بازاریابی دیجیتال خود را ارتقا دهید</a></h3>
                        <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                        <a href="#" class="read-more-btn">اطلاعات بیشتر <i class="flaticon-left-chevron"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="single-blog.html"><img src="/img/blog-image/2.jpg" alt="image"></a>
                    </div>

                    <div class="post-content">
                        <div class="post-meta">
                            <ul>
                                <li>توسط: <a href="#">سارا تیلور</a></li>
                                <li>23 دی 1398</li>
                            </ul>
                        </div>

                        <h3><a href="#">آژانس بازاریابی دیجیتال خود را ارتقا دهید</a></h3>
                        <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                        <a href="#" class="read-more-btn">اطلاعات بیشتر <i class="flaticon-left-chevron"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a href="single-blog.html"><img src="/img/blog-image/3.jpg" alt="image"></a>
                    </div>

                    <div class="post-content">
                        <div class="post-meta">
                            <ul>
                                <li>توسط: <a href="#">سارا تیلور</a></li>
                                <li>23 دی 1398</li>
                            </ul>
                        </div>

                        <h3><a href="#">آژانس بازاریابی دیجیتال خود را ارتقا دهید</a></h3>
                        <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                        <a href="#" class="read-more-btn">اطلاعات بیشتر <i class="flaticon-left-chevron"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img2"><img src="/img/shape/2.svg" alt="image"></div>
    <div class="shape-img3"><img src="/img/shape/3.svg" alt="image"></div>
</section>