<section class="subscribe-area bg-F4F7FC">
    <div class="subscribe-inner-area lets-work jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <span class="sub-title">آماده برای انجام این کار</span>
                    <h2>بیایید کار کنیم!</h2>
                </div>

                <div class="col-lg-6">
                    <div class="contact-btn">
                        <a href="contact.html" class="default-btn">
                            تماس با ما <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>