<!-- Start Features Area -->
<section id="services" class="features-area ptb-100 pt-0">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">ویژگی های ما</span>
            <h2>انتظارات مشتری را درک کنیم</h2>
        </div>

        <div class="tab features-list-tab">
            <ul class="tabs">
                <li>
                    <a href="#" class="bg-fa7070">
                        <i class="flaticon-achievement"></i>
                        <span>تجربه کاربر</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="bg-00aeff">
                        <i class="flaticon-architecture"></i>
                        <span>طراحی محصول</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="bg-c679e3">
                        <i class="flaticon-digital-marketing"></i>
                        <span>بازاریابی دیجیتال</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="bg-eb6b3d">
                        <i class="flaticon-analytics"></i>
                        <span>علائم تجاری</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="flaticon-data"></i>
                        <span>توسعه دهنده</span>
                    </a>
                </li>

                <li>
                    <a href="#" class="bg-f78acb">
                        <i class="flaticon-research"></i>
                        <span>بازاریابی</span>
                    </a>
                </li>
            </ul>

            <div class="tab_content">
                <div class="tabs_item">
                    <div class="features-overview">
                        <div class="overview-content">
                            <div class="content">
                                <span class="sub-title">انتخاب های شما</span>
                                <h2>طراحی تجربه کاربر</h2>
                                <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                                <ul class="features-list">
                                    <li><span><i class="flaticon-tick"></i> منبع باز</span></li>
                                    <li><span><i class="flaticon-tick"></i> انتخاب بهینه</span></li>
                                    <li><span><i class="flaticon-tick"></i> محافظت بالا</span></li>
                                    <li><span><i class="flaticon-tick"></i> مشاوره عالی</span></li>
                                    <li><span><i class="flaticon-tick"></i> طراحی خلاق</span></li>
                                    <li><span><i class="flaticon-tick"></i> بسیار واکنشگرا</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="overview-image">
                            <div class="image">
                                <img src="img/features-image/1.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="features-overview">
                        <div class="overview-image">
                            <div class="image">
                                <img src="img/features-image/2.png" alt="image">
                            </div>
                        </div>

                        <div class="overview-content">
                            <div class="content">
                                <span class="sub-title">انتخاب های شما</span>
                                <h2>طراحی تجربه کاربر</h2>
                                <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                                <ul class="features-list">
                                    <li><span><i class="flaticon-tick"></i> منبع باز</span></li>
                                    <li><span><i class="flaticon-tick"></i> انتخاب بهینه</span></li>
                                    <li><span><i class="flaticon-tick"></i> محافظت بالا</span></li>
                                    <li><span><i class="flaticon-tick"></i> مشاوره عالی</span></li>
                                    <li><span><i class="flaticon-tick"></i> طراحی خلاق</span></li>
                                    <li><span><i class="flaticon-tick"></i> بسیار واکنشگرا</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="features-overview">
                        <div class="overview-content">
                            <div class="content">
                                <span class="sub-title">انتخاب های شما</span>
                                <h2>طراحی تجربه کاربر</h2>
                                <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                                <ul class="features-list">
                                    <li><span><i class="flaticon-tick"></i> منبع باز</span></li>
                                    <li><span><i class="flaticon-tick"></i> انتخاب بهینه</span></li>
                                    <li><span><i class="flaticon-tick"></i> محافظت بالا</span></li>
                                    <li><span><i class="flaticon-tick"></i> مشاوره عالی</span></li>
                                    <li><span><i class="flaticon-tick"></i> طراحی خلاق</span></li>
                                    <li><span><i class="flaticon-tick"></i> بسیار واکنشگرا</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="overview-image">
                            <div class="image">
                                <img src="img/features-image/3.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="features-overview">
                        <div class="overview-image">
                            <div class="image">
                                <img src="img/features-image/4.png" alt="image">
                            </div>
                        </div>

                        <div class="overview-content">
                            <div class="content">
                                <span class="sub-title">انتخاب های شما</span>
                                <h2>طراحی تجربه کاربر</h2>
                                <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                                <ul class="features-list">
                                    <li><span><i class="flaticon-tick"></i> منبع باز</span></li>
                                    <li><span><i class="flaticon-tick"></i> انتخاب بهینه</span></li>
                                    <li><span><i class="flaticon-tick"></i> محافظت بالا</span></li>
                                    <li><span><i class="flaticon-tick"></i> مشاوره عالی</span></li>
                                    <li><span><i class="flaticon-tick"></i> طراحی خلاق</span></li>
                                    <li><span><i class="flaticon-tick"></i> بسیار واکنشگرا</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="features-overview">
                        <div class="overview-content">
                            <div class="content">
                                <span class="sub-title">انتخاب های شما</span>
                                <h2>طراحی تجربه کاربر</h2>
                                <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                                <ul class="features-list">
                                    <li><span><i class="flaticon-tick"></i> منبع باز</span></li>
                                    <li><span><i class="flaticon-tick"></i> انتخاب بهینه</span></li>
                                    <li><span><i class="flaticon-tick"></i> محافظت بالا</span></li>
                                    <li><span><i class="flaticon-tick"></i> مشاوره عالی</span></li>
                                    <li><span><i class="flaticon-tick"></i> طراحی خلاق</span></li>
                                    <li><span><i class="flaticon-tick"></i> بسیار واکنشگرا</span></li>
                                </ul>
                            </div>
                        </div>

                        <div class="overview-image">
                            <div class="image">
                                <img src="img/features-image/5.png" alt="image">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tabs_item">
                    <div class="features-overview">
                        <div class="overview-image">
                            <div class="image">
                                <img src="img/features-image/6.png" alt="image">
                            </div>
                        </div>

                        <div class="overview-content">
                            <div class="content">
                                <span class="sub-title">انتخاب های شما</span>
                                <h2>طراحی تجربه کاربر</h2>
                                <p>یک واقعیت طولانی مدت این است که محتوای قابل خواندن یک صفحه باعث می شود خواننده از تمرکز بر طرح کلی متن یا فرم پاراگراف های قرار داده شده در صفحه مورد نظر خود منحرف شود.</p>

                                <ul class="features-list">
                                    <li><span><i class="flaticon-tick"></i> منبع باز</span></li>
                                    <li><span><i class="flaticon-tick"></i> انتخاب بهینه</span></li>
                                    <li><span><i class="flaticon-tick"></i> محافظت بالا</span></li>
                                    <li><span><i class="flaticon-tick"></i> مشاوره عالی</span></li>
                                    <li><span><i class="flaticon-tick"></i> طراحی خلاق</span></li>
                                    <li><span><i class="flaticon-tick"></i> بسیار واکنشگرا</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <partial name="_Shapes"/>
</section>
<!-- End Features Area -->