<section class="overview-area ptb-100">
    <div class="container">
        <div class="overview-box it-overview">
            <div class="overview-content">
                <div class="content">
                    <h2>بازاریابی دیجیتال</h2>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>

                    <ul class="features-list">
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بازاریابی سئو
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                ایمیل بازاریابی
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بازاریابی فیسبوکی
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                تحلیل داده ها
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بازاریابی اجتماعی
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بازاریابی یوتیوبی
                            </span>
                        </li>
                    </ul>

                    <div class="rm-btn">
                        <a href="services2.html" class="default-btn">
                            ادامه خواندن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src="/img/services/it-service1.png" alt="image">
                </div>
            </div>
        </div>

        <div class="overview-box it-overview">
            <div class="overview-image">
                <div class="image">
                    <img src="/img/services/it-service2.png" alt="image">
                </div>
            </div>

            <div class="overview-content">
                <div class="content right-content">
                    <h2>طراحی وب و توسعه</h2>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>

                    <ul class="features-list">
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                طراحی واکنشگرا
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                طراحی رابط کاربری
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                توسعه دهنده موبایل
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                توسعه دهنده لاراول
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                توسعه دهنده ری اکت
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                توسعه دهنده آنگولار
                            </span>
                        </li>
                    </ul>

                    <div class="rm-btn">
                        <a href="services2.html" class="default-btn">
                            ادامه خواندن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="overview-box it-overview">
            <div class="overview-content">
                <div class="content">
                    <h2>سرویس ذخیره سازی ابری</h2>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>

                    <ul class="features-list">
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                دیتابیس ابری
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                ابر ترکیبی
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                ایمیل سرور
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                هاستینگ وبسایت
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                ذخیره سازی فایل
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class='bx bxs-badge-check'></i>
                                بک آپ سیستم
                            </span>
                        </li>
                    </ul>

                    <div class="rm-btn">
                        <a href="services2.html" class="default-btn">
                            ادامه خواندن
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src="/img/services/it-service3.png" alt="image">
                </div>
            </div>
        </div>

        <div class="overview-box">
            <div class="overview-image">
                <div class="image">
                    <img src="/img/services/it-service4.png" alt="image">
                </div>
            </div>

            <div class="overview-content">
                <div class="content right-content">
                    <h2>مشاوره سئو</h2>
                    <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>

                    <div class="features-text">
                        <h4><i class="flaticon-tick"></i> محتوای بازاریابی</h4>
                        <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است.</p>
                    </div>

                    <div class="features-text">
                        <h4><i class="flaticon-tick"></i> بهینه سازی سئو</h4>
                        <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است.</p>
                    </div>

                    <div class="features-text">
                        <h4><i class="flaticon-tick"></i> بازاریابی دیجیتال</h4>
                        <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>