<section class="subscribe-area pb-100">
    <div class="container">
        <div class="subscribe-inner-area jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="subscribe-content">
                <span class="sub-title">فوراً شروع کنید!</span>
                <h2>از خبرنامه به روزرسانی دریافت کنید</h2>

                <form asp-controller="Account" id="SubscribeForm" asp-action="AddEmailToNewsletters" class="newsletter-form" data-toggle="validator" method="post">
                    <input type="email" class="input-newsletter" placeholder="آدرس ایمیل خود را وارد کنید" name="email" required autocomplete="off">

                    @if (ViewBag.Subscribe == true)
                    {
                        <button type="button" >عضو شدم</button>
                    }
                    else
                    {
                        <input type="submit" value="مشترک شدن"/>
                    }
                    <div id="validator-newsletter" class="form-result"></div>
                </form>
            </div>
        </div>
    </div>
</section>