<section class="team-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">تیم ما</span>
            <h2>تیم حرفه ای ما</h2>
        </div>

        <div class="team-slider owl-carousel owl-theme">
            <div class="single-team-box">
                <div class="image">
                    <img src="/img/team-image/10.jpg" alt="team">

                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="content">
                    <h3>جان اسمیت</h3>
                    <span>سئوکار وب</span>
                </div>
            </div>

            <div class="single-team-box">
                <div class="image">
                    <img src="/img/team-image/11.jpg" alt="team">

                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="content">
                    <h3>لوکی اوا</h3>
                    <span>مدیر تیم</span>
                </div>
            </div>

            <div class="single-team-box">
                <div class="image">
                    <img src="/img/team-image/12.jpg" alt="team">

                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="content">
                    <h3>استیون اسمیت</h3>
                    <span>مدیر تیم</span>
                </div>
            </div>

            <div class="single-team-box">
                <div class="image">
                    <img src="/img/team-image/13.jpg" alt="team">

                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="content">
                    <h3>استیون اسمیت</h3>
                    <span>مدیر تیم</span>
                </div>
            </div>

            <div class="single-team-box">
                <div class="image">
                    <img src="/img/team-image/14.jpg" alt="team">

                    <div class="social">
                        <a href="#" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <div class="content">
                    <h3>ویلیام اسمیت</h3>
                    <span>توسعه دهنده وب</span>
                </div>
            </div>
        </div>
    </div>

    <div class="shape-img2"><img src="/img/shape/2.svg" alt="image"></div>
    <div class="shape-img3"><img src="/img/shape/3.svg" alt="image"></div>
    <div class="shape-img4"><img src="/img/shape/4.png" alt="image"></div>
    <div class="shape-img5"><img src="/img/shape/5.png" alt="image"></div>
    <div class="shape-img6"><img src="/img/shape/6.png" alt="image"></div>
    <div class="shape-img9"><img src="/img/shape/9.png" alt="image"></div>
    <div class="shape-img10"><img src="/img/shape/10.png" alt="image"></div>
</section>