<div class="works-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>آخرین کارهای ما</h2>
            <p>نوآوری های واقعی و تجربه مثبت مشتری ، هسته اصلی ارتباط موفق است. محصولات و خدمات جعلی وجود ندارد.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="/img/works/work1.jpg" alt="image">

                    <div class="content text-center">
                        <span>
                            <a href="#">توسعه دهنده</a>
                        </span>
                        <h3>
                            <a href="single-projects.html">لورم ایپسوم متن ساختگی با تولید نامفهوم است.</a>
                        </h3>

                        <a class="work-btn" href="single-projects.html">مطالعه موردی</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="/img/works/work2.jpg" alt="image">

                    <div class="content text-center">
                        <span>
                            <a href="#">طراحی وب</a>
                        </span>
                        <h3>
                            <a href="single-projects.html">لورم ایپسوم متن ساختگی با تولید نامفهوم است.</a>
                        </h3>

                        <a class="work-btn" href="single-projects.html">مطالعه موردی</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="/img/works/work3.jpg" alt="image">

                    <div class="content text-center">
                        <span>
                            <a href="#">بازاریابی تجاری</a>
                        </span>
                        <h3>
                            <a href="single-projects.html">لورم ایپسوم متن ساختگی با تولید نامفهوم است.</a>
                        </h3>

                        <a class="work-btn" href="single-projects.html">مطالعه موردی</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="/img/works/work4.jpg" alt="image">

                    <div class="content text-center">
                        <span>
                            <a href="#">ری اکت</a>
                        </span>
                        <h3>
                            <a href="single-projects.html">لورم ایپسوم متن ساختگی با تولید نامفهوم است.</a>
                        </h3>

                        <a class="work-btn" href="single-projects.html">مطالعه موردی</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="/img/works/work5.jpg" alt="image">

                    <div class="content text-center">
                        <span>
                            <a href="#">آنگولار</a>
                        </span>
                        <h3>
                            <a href="single-projects.html">لورم ایپسوم متن ساختگی با تولید نامفهوم است.</a>
                        </h3>

                        <a class="work-btn" href="single-projects.html">مطالعه موردی</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="/img/works/work6.jpg" alt="image">

                    <div class="content text-center">
                        <span>
                            <a href="#">توسعه دهنده</a>
                        </span>
                        <h3>
                            <a href="single-projects.html">لورم ایپسوم متن ساختگی با تولید نامفهوم است.</a>
                        </h3>

                        <a class="work-btn" href="single-projects.html">مطالعه موردی</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="more-work">
            <a href="projects2.html" class="default-btn">
                مشاهده پروژه ها <span></span>
            </a>
        </div>
    </div>
</div>