@page
@using AYweb.Core.Services.Interfaces
@using AYweb.Dal.Entities.News
@using Polly
@model AYweb.Web.Pages.Admin.Blog.CreateModel
@{
}

<div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">News Release</h6>
    <form method="post" enctype="multipart/form-data">
        <input hidden asp-for="News.UserId" value="9"/>
        <div class="mb-5">
            <label for="exampleInputEmail1" class="form-label">News Title</label>
            <input type="text" class="form-control" asp-for="News.Title" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
        </div>
        <div class="mb-5">
            <label for="exampleInputEmail1" class="form-label">Select News Groups</label>
            <br />C
        @foreach (var group in ViewData["newsGroups"] as List<NewsGroup>?? new List<NewsGroup>())
        {
            <div class="form-check form-check-inline">
                    <input class="form-check-input" name="groups" type="checkbox" id="inlineCheckbox1" value="@group.Id">
                <label class="form-check-label" for="inlineCheckbox1">@group.Title</label>
            </div>
        }
        </div>
        <div class="input-group mb-3 ">
            <span class="input-group-text">News Summery</span>
            <textarea class="form-control" asp-for="News.Summary" aria-label="Short Description"></textarea>
        </div>
        <div class="mb-3">
            <span class="input-group-text">News Introduction</span>
            <textarea class="form-control" asp-for="News.Introduction" aria-label="Main Description"></textarea>
        </div>
        <div class=" mb-3">
            <span class="input-group-text">News Text</span>
            <textarea class="form-control" asp-for="News.Text" aria-label="Short Description"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">News Tags</label>
            <input type="text" class="form-control" asp-for="News.Tags" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        
        
        <div class="mb-5">
            <label for="formFile" class="form-label">Main News Image</label>
            <input class="form-control" name="blogPicture" type="file" id="formFile">
        </div>
        <div class="mb-5">
            <label for="formFile" class="form-label">News Gallery</label>
            <input class="form-control mb-2" name="pictures" type="file" id="formFile">
            <input class="form-control mb-2" name="pictures" type="file" id="formFile">
            <input class="form-control mb-2" name="pictures" type="file" id="formFile">
        </div>               
        <button type="submit" class="btn btn-primary">News Release</button>
    </form>
</div>

@section Scripts
    {

    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>

        CKEDITOR.replace('News_Text', {
            customConfig: '/js/Config.js'
        });

        CKEDITOR.replace('News_Introduction', {
            customConfig: '/js/Config.js'
        });

    </script>
    }
