 <!-- Start Footer Area -->
<section class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>اطلاعات تماس</h3>

                    <ul class="footer-contact-info">
                        <li>
                            <i class="flaticon-phone-call"></i>
                            <a href="#">09106966244</a>
                            <br/>
                            <a href="#">09138558458</a>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <span>آیا سوالی دارید؟</span>
                            <a href="#">YourSite@Site.Com</a>
                        </li>
                        <li>
                            <i class="flaticon-social-media"></i>
                            <span>شبکه اجتماعی</span>

                            <ul class="social">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget pr-5">
                    <h3>پیوندهای سریع</h3>

                    <ul class="footer-quick-links">
                        <li><a href="#">صفحه اصلی</a></li>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="#">وبلاگ</a></li>
                        <li><a href="#">تماس با ما</a></li>
                        <li><a href="#">هزینه آژانس</a></li>
                        <li><a href="#">تحول دیجیتال</a></li>
                        <li><a href="#">پشتیبانی در جهان</a></li>
                        <li><a href="#">بازاریابی</a></li>
                        <li><a href="#">هزینه آژانس</a></li>
                        <li><a href="#">تحول دیجیتال</a></li>
                        <li><a href="#">پشتیبانی</a></li>
                        <li><a href="#">تجارت دیجیتال</a></li>
                        <li><a href="#">مشتریان</a></li>
                        <li><a href="#">واحد فنی</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-footer-widget pr-5">
                    <h3>اینستاگرام</h3>

                    <ul class="footer-instagram-post">
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/1.jpg" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/2.jpg" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/3.jpg" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/4.jpg" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/5.jpg" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/6.jpg" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/7.jpg" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/8.jpg" alt="image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="/img/instagram-image/1.jpg" alt="image">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p><i class="flaticon-copyright"></i> 1402 تمام حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="/" target="_blank">AY WEB</a></p>

                </div>

                <div class="col-lg-6 col-sm-6 col-md-6">
                    <ul>
                        <li><a href="#">شرایط و ضوابط</a></li>
                        <li><a href="#">حریم خصوصی</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer Area -->