  <!-- Start Navbar Area -->
<div class="navbar-area">
    <div class="aronix-responsive-nav">
        <div class="container">
            <div class="aronix-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="/img/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="aronix-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="/img/logo.png" alt="logo">
                </a>

                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="#" class="nav-link active">
                                خانه <i class="fas fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="index.html" class="nav-link">صفحه اصلی 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-2.html" class="nav-link">صفحه اصلی 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-3.html" class="nav-link">صفحه اصلی 3</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-4.html" class="nav-link">صفحه اصلی 4</a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-5.html" class="nav-link active">
                                        صفحه اصلی 5
                                        <span class="new">جدید</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-6.html" class="nav-link">
                                        صفحه اصلی 6
                                        <span class="new">جدید</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-7.html" class="nav-link">
                                        صفحه اصلی 7
                                        <span class="new">جدید</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-8.html" class="nav-link">
                                        صفحه اصلی 8
                                        <span class="new">جدید</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="index-9.html" class="nav-link">
                                        صفحه اصلی 9
                                        <span class="new">جدید</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                صفحات <i class="fas fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">درباره ما 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="about2.html" class="nav-link">درباره ما 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="team.html" class="nav-link">تیم 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="team2.html" class="nav-link">تیم 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="features.html" class="nav-link">امکانات</a>
                                </li>
                                <li class="nav-item">
                                    <a href="pricing.html" class="nav-link">قیمت گذاری</a>
                                </li>
                                <li class="nav-item">
                                    <a href="partner.html" class="nav-link">پارتنر</a>
                                </li>
                                <li class="nav-item">
                                    <a href="login.html" class="nav-link">ورود</a>
                                </li>
                                <li class="nav-item">
                                    <a href="signup.html" class="nav-link">عضویت</a>
                                </li>
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">سوالات متداول</a>
                                </li>
                                <li class="nav-item">
                                    <a href="error-404.html" class="nav-link">خطای 404</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                خدمات <i class="fas fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="services.html" class="nav-link">خدمات 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="services2.html" class="nav-link">خدمات 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="services3.html" class="nav-link">خدمات 3</a>
                                </li>
                                <li class="nav-item">
                                    <a href="single-services.html" class="nav-link">خدمات جداگانه</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                پروژه ها <i class="fas fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="projects.html" class="nav-link">پروژه 1</a>
                                </li>
                                <li class="nav-item">
                                    <a href="projects2.html" class="nav-link">پروژه 2</a>
                                </li>
                                <li class="nav-item">
                                    <a href="projects3.html" class="nav-link">پروژه 3</a>
                                </li>
                                <li class="nav-item">
                                    <a href="projects4.html" class="nav-link">پروژه 4</a>
                                </li>
                                <li class="nav-item">
                                    <a href="single-projects.html" class="nav-link">پروژه جداگانه</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                فروشگاه <i class="fas fa-chevron-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="shop.html" class="nav-link">فروشگاه</a>
                                </li>
                                <li class="nav-item">
                                    <a href="single-product.html" class="nav-link">فروشگاه جداگانه</a>
                                </li>
                                <li class="nav-item">
                                    <a href="cart.html" class="nav-link">سبد خرید</a>
                                </li>
                                <li class="nav-item">
                                    <a href="checkout.html" class="nav-link">بررسی محصول</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                وبلاگ <i class="fas fa-chevron-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="blog-1.html" class="nav-link">وبلاگ شبکه ای</a>
                                </li>
                                <li class="nav-item">
                                    <a href="blog-2.html" class="nav-link">وبلاگ سایدبار</a>
                                </li>
                                <li class="nav-item">
                                    <a href="single-blog.html" class="nav-link">وبلاگ جداگانه</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">تماس با ما</a>
                        </li>
                    </ul>

                    <div class="others-options">
                        <div class="cart-items">
                            <a href="cart.html">
                                <i class="fas fa-shopping-cart"></i>
                                <span>5</span>
                            </a>
                        </div>

                        <div class="option-item">
                            <i class="search-btn flaticon-search"></i>
                            <i class="close-btn flaticon-close"></i>

                            <div class="search-overlay search-popup">
                                <div class='search-box'>
                                    <form class="search-form">
                                        <input class="search-input" name="search" placeholder="جستجو" type="text">

                                        <button class="search-button" type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="burger-menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->