<div class="shape-img2"><img src="img/shape/2.svg" alt="image"></div>
<div class="shape-img3"><img src="img/shape/3.svg" alt="image"></div>
<div class="shape-img4"><img src="img/shape/4.png" alt="image"></div>
<div class="shape-img5"><img src="img/shape/5.png" alt="image"></div>
<div class="shape-img7"><img src="img/shape/7.png" alt="image"></div>
<div class="shape-img8"><img src="img/shape/8.png" alt="image"></div>
<div class="shape-img9"><img src="img/shape/9.png" alt="image"></div>
<div class="shape-img10"><img src="img/shape/10.png" alt="image"></div>