@using AYweb.Application.Models.User.Commands.ChangePassword

@model ChangePasswordCommand


<div class="page-title-area page-title-bg1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>پنل کاربری</h2>

                    <ul>
                        <li><a href="#">آی وب </a></li>
                        <li>تغییر رمز عبور</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <partial name="_shapes" />
</div>

<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-10">
            <Partial name="_widget" />
        </div>

        <div class="col-lg-6 col-md-10">

            <div class="cart-table table-responsive p-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4" scope="col">برای تغییر رمز عبور فعلی اطلاعات زیر را پر کنید</th>                           
                        </tr>
                    </thead>

                    <form asp-controller="Profile" asp-action="ChangePassword" method="post" asp-antiforgery="true">
                    <tbody>
                        <tr>
                            <td>رمز عبور فعلی : </td>
                            <td>
                                <input type="password" class="form-control form-control-sm" asp-for="OldPassword"/>
                            </td>                            
                        </tr>
                        <tr>
                            <td>رمز عبور جدید</td>
                            <td>
                                <input type="password" class="form-control" asp-for="Password"/>
                            </td>                          
                        </tr>
                        <tr>
                            <td>تکرار رمز عبور</td>
                            <td>
                                <input type="password" class="form-control" asp-for="Re_Password"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input type="submit" class="btn btn-success" value="تغییر کلمه عبور"/>
                            </td>
                        </tr>
                    </tbody>
                    </form>
                </table>
            </div>


        </div>

    </div>
</div>

@section Scripts {
    @if (ViewData["WrongOldNotification"] is not null)
    {
        <script>
            $.notify("رمز عبور فعلی خود را به درستی وارد کنید!", "error");
        </script>
    }

    @if (ViewData["WrongRepeatNotification"] is not null)
    {
        <script>
            $.notify("رمز عبور و تکرارش یکسان نیست!", "error");
        </script>
    }

    @if (ViewData["ChangeSuccess"] is not null)
    {
        <script>
            $.notify("رمز شما با موفقیت تغییر یافت!", "success");
        </script>
    }
}