@page
@using AYweb.Application.Convertors
@using System.Configuration
@model AYweb.Presentation.Pages.Admin.Role.IndexModel
@inject IConfiguration _config;

<div class="col-12 p-5">
    <div class="bg-light rounded h-100 p-4">
        <div class="row mb-4">
            <h6 class="d-inline col-md-10">Roles List</h6>
            <a href="/admin/role/create" class="btn btn-primary d-inline float-right col-md-2">Regsiter Role</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        <tr id="role[@role.Id]">
                            <th scope="row">@role.Id</th>
                            <td>@role.Title</td>

                            <td>
                                <a href="/Admin/Role/Details/@role.Id" class="btn btn-primary">View</a>
                                <a class="btn btn-primary">Edit</a>
                                <a class="btn btn-danger" onclick="Delete(@role.Id)">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function Delete(id) {

            if (confirm("Are you sure to delete the Role? ")) {
                $.ajax({
                    type: "Get",
                    url: 'https://@(_config.GetValue<string>("MySetting:DomainAddress"))/Admin/role/Delete/' + id,
                    success: function () {
                        document.getElementById("role[" + id + "]").setAttribute("style", "display:none");
                    },
                    error: function () {
                        alert("خطایی رخ داده است!");
                    }
                });
            }
        }

    </script>
}

